.main {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  font-family: 'roboto';
}

.h1 {
  position: relative;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.h1:before, .h1:after {
  position: absolute;
  top: 40%;
  overflow: hidden;
  width: 30%;
  height: 5px;
  content: '\a0';
  background-color: var(--secondary-color);
  margin-left: 5%;
}

.h1:before {
  margin-left: -35%;
  text-align: right;
}

.color {
  background-color: #ccc;
}

.about_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner_about_container {
  max-width: 600px;
  font-family: 'roboto';
}

.inner_about_container h1 {
  text-align: center;
}

.about_content {
  margin-top: 100px;
}

.about_content ul {
  list-style: none;
}

.department_list {
  display: flex;
  justify-content: center;
}

.department_list ul {
  padding-left: 0;
}

.department_list li {
  margin-bottom: 25px;
}

@media only screen and (max-width: 1000px) {
  .about_content {
    max-width: 420px;
  }
}

@media only screen and (max-width: 600px) {
  .about_content {
    max-width: 220px;
  }

}