.main {
  background-color: var(--quaternary-color);
  color: white;
  font-family: 'roboto';
}

.about_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner_about_container {
  max-width: 600px;
  font-family: 'roboto';
}

.inner_about_container h1 {
  text-align: center;
}

.about_content {
  margin-top: 100px;
}

.about_content ul {
  list-style: none;
}

.department_list {
  display: flex;
  justify-content: center;
}

.department_list ul {
  padding-left: 0;
}

.department_list li {
  margin-bottom: 25px;
}

@media only screen and (max-width: 1000px) {
  .about_content {
    max-width: 420px;
  }
}

@media only screen and (max-width: 600px) {
  .about_content {
    max-width: 220px;
  }

}