.main {
  background-image: url('/background/backgroundMountain.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  color: var(--primary-color);
  height: 100vh;
  font-family: 'roboto';
}

.body_container {
  max-width: 500px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 250px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.underline {
  width: 70%;
  background-color: var(--secondary-color);
  height: 3px;
}

.home_button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}

.home_button:hover {
  background-color: var(--primary-color);
  color: var(--quinary-color);
}

@media only screen and (max-width: 1000px) {
  .body_container {
    height: unset;
    margin-left: 50px;
    margin-top: 175px;
  }
}

@media only screen and (max-width: 600px) {
  .body_container {
    margin-right: 50px;
  }

  .body_container h1 {
    font-size: 24px;
  }
}

