:root {
    --primary-color: #fff;
    --secondary-color: #f4d6b9;
    --ternary-color: #7796a4;
    --quaternary-color: #14343d;
    --quinary-color: rgba(16,46,53,0.5);
    --red-color: red;
  }
  
  